<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="QR Code Generator for URL, vCard, and more. Add logo, colors, frames, and download in high print quality. Get your free QR Codes now!">
    <meta name="subtitle" content="Create your QR Code for free">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <title>QR Code Generator | Create Your Free QR Codes</title>
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-9455541771711424" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>QR Code Generator</h1>
        </div>
        <div class="action-wrapper">
            <input class="js-input" autofocus type="text" placeholder="Enter URL...">
            <button class="js-generate">Generate</button>
        </div>

        <div class="result-wrapper">
            <div class="js-result"></div>
            <a href="" class="js-save hidden">Download QR Code</a>
        </div>

        <div class="info-wrapper">
            <p>QR Code is a two-dimensional version of the barcode, typically made up of black and white pixel patterns. Denso Wave, a Japanese subsidiary of the Toyota supplier Denso, developed them for marking components in order to accelerate logistics processes for their automobile production. Now, it has found its way into mobile marketing with the widespread adoption of smartphones. "QR" stands for "Quick Response", which refers to the instant access to the information hidden in the Code.</p>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>