<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE GENERATOR</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>QR Code Generator</h1>
        </div>
        <div class="action-wrapper">
            <input class="js-input" autofocus type="text" placeholder="Enter URL...">
            <button class="js-generate">Generate</button>
        </div>

        <div class="result-wrapper">
            <div class="js-result"></div>
            <a href="" class="js-save hidden">Download QR Code</a>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>