<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="QR Code Generator for URL, vCard, and more. Add logo, colors, frames, and download in high print quality. Get your free QR Codes now!">
    <meta name="subtitle" content="Create your QR Code for free">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="keywords" content="qr, qr code, dynamic, dynamic qr code, dynamic qr code generator, code, qr code generator, generator, code generator, free qr code, free, kostenlos, kostenlose qr codes, qr code erstellen kostenlos, ">
    <title>QR Code Generator | Create Your Free QR Codes</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/nav.css">
</head>
<body>
    <nav>
        <div class="nav-ul d-flex hidden-mobile">
            <a class="nav-link nav-li active" href="/">Home</a>
            <a class="js-overview-link nav-link nav-li" href="/user/overview">QR Codes</a>
        </div>
        <div class="mobile-nav hidden">
            <ul class="mobile-ul">
                <li class="mobile-li"><a class="mobile-link active" href="/">Home</a></li>
                <li class="js-overview-link mobile-li"><a class="mobile-link " href="/user/overview">QR Codes</a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <div class="burger-div bar1"></div>
            <div class="burger-div bar2"></div>
            <div class="burger-div bar3"></div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="header">
            <h1>QR Code Generator</h1>
        </div>
        <div class="action-wrapper">
                <form class="select-type">
                    <div>
                        <input type="radio" name="url" id="url">
                        <label for="url">Url</label>
                    </div>
                    <div>
                        <input type="radio" name="text" id="text">
                        <label for="text">Text</label>
                    </div>
                    <div>
                        <input type="radio" name="image" id="image">
                        <label for="image">Image</label>
                    </div>
                </form>
            </div>
            <div class="user-input">
                <input class="js-input" autofocus type="text" placeholder="Enter URL...">
                <button class="js-generate">Generate</button>
            </div>
        </div>

        <div class="result-wrapper">
            <div class="js-result"></div>
            <a href="" class="js-save hidden">Download QR Code</a>
        </div>

        <div class="info-wrapper">
            <p>
                If you want your QR codes to be saved for later use or modification of the content, 
                you can log in with your Google account.
                <br>
                <br>
                The QR codes will be displayed on the Overview page. 
                Here you have the possibility to delete QR codes or change their destination, 
                for example the URL, without having to change the QR code itself.
                This way you can keep already printed QR codes, but change their content.
                These codes are called <strong>Dynamic QR Codes</strong>.
            </p>
            <div class="google-login">
                <a href="/user/login">
                    <img src="assets/google_button.png" class="js-login btn"></img>
                </a>
            </div>
        </div>
    </div>
    <p class="info-text">QR Code is a two-dimensional version of the barcode, typically made up of black and white pixel patterns. Denso Wave, a Japanese subsidiary of the Toyota supplier Denso, developed them for marking components in order to accelerate logistics processes for their automobile production. Now, it has found its way into mobile marketing with the widespread adoption of smartphones. "QR" stands for "Quick Response", which refers to the instant access to the information hidden in the Code.</p>
    <script src="./js/main.js"></script>
    <script src="./js/naviagtion.js"></script>
</body>
</html>