
.header {
    font-size: 3vw;;
}

.action-wrapper {
    padding: 10px;
}

.select-type {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.user-input {
    display: flex;
    justify-content: center;
}

.js-input {
    padding: 10px;
    font-size: 133%;
}

.js-generate {
    padding: 10px;
    cursor: pointer;
    height: 54px;
}

.result-wrapper {
    margin-top: 30px auto;
    text-align: center;
}

.js-save {
    display: inline-block;
    color: #cccccc;
    text-decoration: underline;
    font-size: 2vw;
    margin-top: 0;
    transition: all 250ms ease-in-out;
}

.hidden {
    opacity: 0;
    margin-top: 30px;
}

.info-wrapper {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .info-wrapper {
        width: 80vw;
    }    
}